@charset "UTF-8";
table {
  border-collapse:		collapse;
  }
td {
	border:				solid 1px black;
	font-size:			1.5em;
	width:				150px;
	height:				100px;
	text-align:			center;
	vertical-align:		middle;
  }
  
.cl1 {
	border:				solid 1px white;
	color:				white;
	background-color:	red;
  }
.cl2 {
	border:				solid 1px white;
	color:				white;
	background-color: 	orange;
  }
.cl3 {
	border:				solid 1px white;
	color:				blue;
	background-color: 	yellow;
  }
.cl4 {
	border:				solid 1px white;
	color:				white;
	background-color: 	green;
  }
.cl5 {
	border:				solid 1px white;
	color:				white;
	background-color: 	blue;
  }
